.App {
  text-align: center;
  background-color: #222;
  height: 200px;
}

.Card {
  background-color: rgb(68, 68, 255);
  font-size: 18px;
  width: 20%;
  height: 80px;
  margin-left: 40%;
  margin-right: 40%;
}

.container {
  text-align: center;
}

.Card  p {
  color: white;
  text-transform: uppercase;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}